@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter',sans-serif;
}

body{
  background:#f4f7fb;
  overflow-x:hidden;
}

/* BACKGROUND ANIMATION */

.bg-animation{
  position:fixed;
  inset:0;
  overflow:hidden;
  z-index:-1;
}

/* LEFT GREEN */

.bg-animation::before{

  content:"";

  position:absolute;

  width:520px;
  height:520px;

  background:
    rgba(34,197,94,0.10);

  border-radius:9999px;

  filter:blur(120px);

  left:-120px;
  top:120px;

  animation:floatGreen 10s ease-in-out infinite;
}

/* RIGHT ORANGE */

.bg-animation::after{

  content:"";

  position:absolute;

  width:520px;
  height:520px;

  background:
    rgba(249,115,22,0.10);

  border-radius:9999px;

  filter:blur(120px);

  right:-120px;
  top:180px;

  animation:floatOrange 12s ease-in-out infinite;
}

/* GREEN FLOAT */

@keyframes floatGreen{

  0%{
    transform:translateY(0px);
  }

  50%{
    transform:translateY(30px);
  }

  100%{
    transform:translateY(0px);
  }
}

/* ORANGE FLOAT */

@keyframes floatOrange{

  0%{
    transform:translateY(0px);
  }

  50%{
    transform:translateY(-30px);
  }

  100%{
    transform:translateY(0px);
  }
}